/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
@font-face{
	font-family: 'WebSymbolsRegular';
		src: url('../fonts/websymbols/websymbols-regular-webfont.eot');
		src: url('../fonts/websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
			url('../fonts/websymbols/websymbols-regular-webfont.woff') format('woff'),
			url('../fonts/websymbols/websymbols-regular-webfont.ttf') format('truetype'),
			url('../fonts/websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* bands */
.band {
	background: url(../images/bg_main.png) repeat #f8f8f8;
	padding: 0px 0px 14px;
}

.band.navigation {
	background: url(../images/stitch_hr.png) repeat-x,
				url(../images/bg_dark.png) repeat,
				#343434;
	padding: 0;
}

.band.footer {
	background: url(../images/stitch_large.png) repeat-x,
				url(../images/bg_dark.png) repeat,
				#343434;
	padding: 49px 0 14px 0;
}

.band.bottom {
	background: url(../images/stitch_staggered.png) repeat-x,
				url(../images/bg_bottom.png) repeat,
				#343434;
	padding: 28px 0 7 0;
	color: #e0e0e0;
}

/* heading */
header.main {
	padding: 35px 0;
}

header h1.logo {
	margin: 7px 0 0 0;
	float: left;
}

header h1.logo a {
	width: 250px;
	height: 49px;
	display: block;
	background: url(../images/sprite.png) 0 0 no-repeat;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

/* navigation */

nav.primary ul,
nav.primary ul li {
	margin: 0;
}

nav.primary select {
	display: none;
	width:  100%;
	height: 28px;
	margin: 21px 0;
}

nav.primary ul li {
	display: inline;
	float: left;
	position: relative;
}

nav.primary ul li a {
	display: inline-block;
	line-height: 49px;
	padding: 0 14px;
	color: #ebebeb;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 0.08em;
}

nav.primary ul li a:hover {
	background: none repeat scroll 0 0 #424242;
	cursor: pointer;
}

/* submenu */
nav.primary ul ul{
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	z-index: 999;
	background: url(../images/bg_bottom.png) 0 0 repeat;
	height: 0px;
	overflow: hidden;
	min-width: 100%;
	-webkit-transition: opacity 0.4s ease-out;
	-moz-transition: opacity 0.4s ease-out;
	-ms-transition: opacity 0.4s ease-out;
	-o-transition: opacity 0.4s ease-out;
	transition: opacity 0.4s ease-out;

	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

nav.primary ul li:hover ul {
	opacity: 10;
	filter: alpha(opacity=100);
	height: auto;
	overflow: auto;
}

nav.primary ul ul li {
	float: none;
	display: list-item;
	border-bottom: 1px solid #383737;
}


nav.primary ul ul li a {
	display: block;
	line-height: 35px;
	text-transform: none;
}

nav.primary ul li:hover > a {
	background: #424242;
}

/* images */
figure {
	padding: 6px;
	border: 1px solid #ededed;
	line-height: 0;
}

figcaption {
	font-size: .75em;
	text-align: center;
	padding: 14px 0;
}

img {
    max-width: 100%;
}

/* footer */
.band.footer {
	color: #e0e0e0;
}

footer a,
footer a:visited {
	color: #9f9f9f;
}

footer a:hover {
	text-decoration: none;
	color: #fff;
}

.bottom footer {
	font-size: 12px;
}

div.last-credit {
	text-align: right;
}

footer h3.logo {
	margin: 14px 0 21px;
}

footer h3.logo a {
	width: 200px;
	height: 35px;
	display: block;
	background: url(../images/sprite.png) 0 -50px no-repeat;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

footer.main header {
	background: url(../images/diagonal_dark.png) 0 0 repeat;
	font-size: 14px;
	line-height: 1em;
	margin: 28px 0 0;
}

footer.main h4 {
	font-weight: bold;
	color: #fff;
	font-size: 14px;
	line-height: 1em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-family: arial, sans-serif;
	background: url(../images/bg_dark.png) 0 0 repeat;
	display: inline;
	padding: 0 10px;
	margin: 0 0 0 14px;
}

/* footer lists */
footer.main ul {
	margin: 7px 0 0;
}


footer.main li {
	padding: 21px 0;
	margin: 0;
	background: url(../images/stitch_staggered.png) left bottom repeat-x;
}

footer.main li:last-child {
	background: none;
}

/* flickr styles */
div.flickr {
	padding: 31px 0 0;
}
div.flickr img {
	float: left;
	max-width: 46%;
	margin: 2%;
	padding: 6px;
	border: 1px solid #ede;
	background: #fff;
}


/* jQuery FlexSlider v2.2.0
================================================== */

/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
* include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* my own flixslider styles */
.flexslider {
	margin: 21px 0 ;
}

.flex-control-nav {
	width: 100%;
	text-align: center;
}

.flex-control-nav li {
	display: inline;
	margin: 0px 5px;
}

.flex-control-nav li a {
	display: inline-block;
	width: 14px;
	height: 14px;
	background: #d5d5d5;
	border: 1px solid #d5d5d5;
	cursor: pointer;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.flex-control-nav li a.active,
.flex-control-nav li a.hover {
	background: none;
}

/* blog */
hr {
	border: none;
	border-bottom: 1px dashed #e5e5e5;
	margin: 14px 0px 28px;
}

article .breadcrumbs {
	margin-bottom: 7px;
}

article .meta {
	margin-bottom: 7px;
}

/* pagination */
nav.pagination ul {
	width: 100%;
	text-align: center;
	margin: 21px 0px 35px;
}

nav.pagination li {
	display: inline;
}

nav.pagination li a {
	display: inline-block;
	line-height: 35px;
	width: 35px;
	height: 35px;
	text-align: center;
	padding: 0px 7px;
	text-decoration: none;
	font-weight: bold;
	border-bottom: 3px solid #ccc;
}

nav.pagination li a.selected,
nav.pagination li a:hover {
	background: url(../images/bg_dark.png) #000 0 0 no-repeat;
	border: none;
	color: #fff;
}

/* sidebar */
.sub header {
	background: url(../images/diagonal_pale.png) 0 0 repeat;
	font-style: 14px;
	line-height: 1em;
	margin: 28px 0px;
}

.subscribe header {
	margin-top: 0;
}

.sub header h4{
	font-weight: bold;
	color: #999;
	font-style: 14px;
	line-height: 1em;
	text-transform: uppercase;
	padding: 0px 10px;
	margin: 0px 0px 0px 14px;
	letter-spacing: 0.1em;
	font-family: Arial, sans-serif;
}

/* forms */

/* Reset HTML5 Search Input in Webkit */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
	-webkit-appearance:none;
	display: none;
}

input[type=search] {
	-webkit-appearance:textfield;
	-webkit-box-sizing:content-box;
}

input[type=search]:focus {
	outline: none;
}

input[type="search"]:focus {
    outline: medium none;
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
textarea,
select {
    width: 100%;
}

.search, .subscribe {
    margin: 0;
}

.search input[type="search"],
.subscribe input[type="email"] {
    float: left;
    margin: 0;
    width: 68%;
}

.search button,
.subscribe button {
    float: right;
    margin: 0;
    padding: 7px 10px;
    width: 28%;
}

/* categories */
ul.categories {
	margin: 0;
}

ul.categories li {
	border-bottom: 1px dashed #e5e5e5;
	margin: 0;
}

ul.categories li a {
	text-decoration: none;
	line-height: 35px;
	display: block;
}

ul.categories li a:hover,
ul.categories li a.active {
	background: #fff;
}

/* icons */
.icon {
	font-family: "WebSymbolsRegular";
	font-size: 28px;
	line-height: 1em;
}

.subscribe span {
	width: 30%;
	float: left;
}

.subscribe p {
	width: 70%;
	float: left;
	margin: 0;
	font-family: Georgia, serif;
}

.subscribe em {
	font-size: 21px;
	font-style: none;
}

.icon.rss {
	color: #ef7908;
}

.icon.twitter {
	color: #39bae6;
}


/* flexible embdes */
.embed {
	position: relative;
	padding: 0;
	padding-bottom: 56.25%; /* 16:9 ratio */
	height: 56.25%;
	overflow: hidden;
}

.embed iframe,
.embed object,
.embed embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}

/* tabs */
ul.tabs {
	margin: 0;
}

ul.tabs li {
	position: relative;
	top: 1px;
}

ul.tabs li a.active {
	height: 34px;
	background: url(../images/bg_main.png) 0 0;
}

.tabs-content li {
	padding: 35px 20px;
	border: 1px solid #ddd;
	border-top: none;
}

/* sponsors */
.sponsors a {
	float: left;
	max-width: 46%;
	margin: 2%;
}

.sponsors .maxi {
	display: none;
}

.banner {
	float: right;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		/* sponsors */

		.sponsors .mini {
			display: none;
		}

		.sponsors .maxi {
			display: block;
			float: none;
			max-width: 100%;
			margin: 0 0 7px 0;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

		.banner {
			display: none;
		}

		article .three.thumbnail {
			display: none;
		}

		nav.primary {
		    padding: 21px 0;
		}

		nav.primary select {
			display: block;
		}

		nav.primary ul {
			display: none;
		}

		.bottom footer {
			text-align: center;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

		/* sponsors */

		.sponsors .mini {
			display: none;
		}

		.sponsors .maxi {
			display: block;
			float: none;
			max-width: 100%;
			margin: 0 0 7px 0;
		}
	}

	/* Additional large screens 1200+ */
	@media only screen and (min-width: 1280px) {

/*   body {
    background: url("../images/bg_main.png") repeat scroll 0 0 #F8F8F8;
    font: 16px/24px "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
} */

	.page {
	    width: 1280px;
	}

	.chief {
	    float: right;
	    padding-right: 20px;
	}

	.header {
	    float: right;
	}

	.footer {
	    float: left;
	}

	.footer .columns {
	    clear: both;
	}

	.header .container, .footer .container, .bottom .container {
	    padding-left: 20px;
	    padding-right: 20px;
	    width: 100%;
	}

	.bottom {
	    clear: both;
	    width: 100%;
	}

	.bottom .columns {
	    float: right;
	    text-align: left;
	}

	.navigation {
	    float: left;
	}

	.navigation .container {
	    padding: 35px 0 0;
	    width: 100%;
	}
	.navigation .container .sixteen.columns {
	    margin: 0;
	    width: 280px;
	}

	nav.primary ul li {
	    border-bottom: 1px solid #383737;
	    clear: both;
	    display: block;
	    width: 100%;
	}

	nav.primary ul li > a {
	    display: block;
	    padding: 0 30px;
	}

	nav.primary ul ul li a, nav.primary ul li a {
	    line-height: 39px;
	}

	nav.primary ul ul {
	    left: 100%;
	    top: 0;
	}

	h3.logo {
	    display: none;
	}

	header h1.logo {
	    margin: 7px 0 0 25px;
	}
}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
